a.list-group-item.list-group-item-action.flex-column.align-items-start.issue(href='#', data-number=number, data-title=title, data-text=body)
  .d-flex.w-100.justify-content-between
    h6.mb-1
      =title
  small
    |#
    =number
    | 
    =body