## Hacklab Mikkeli ry - hallituksen kokous

Aika:  {{date}} {{time}} – XX:XX     
Paikka: Hacklab Mikkeli, Pietarinkatu 23, Mikkeli

##### Läsnä:

*  Heikki Kurhinen, pj.
*  Antti-Pekka Lehtonen, vpj.
*  Merja Väisänen, varainhoitaja
*  Taneli Selin, sihteeri

##### Kokouksen avaus      
XXX avasi kokouksen klo YYYY
 
##### Kokouksen laillisuus ja päätösvaltaisuus  
XXX totesi kokouksen lailliseksi ja päätösvaltaiseksi.
 
##### Kokouksen järjestäytyminen   
Kokouksen puheenjohtajaksi valittiin XXX. Pöytäkirjantarkastajiksi valittiin YYY ja ZZZ sekä sihteeriksi NNN.
 
##### Esityslistan hyväksyminen       
Esityslista hyväksyttiin.

{{#issues}}
##### {{title}}
*{{text}}*

{{/issues}}
 
##### Kokouksen päättäminen   
XXX päätti kokouksen klo XX:XX.
 
<br/>
Pöytäkirja tarkastettu ja hyväksytty. Mikkelissä {{date}}.
